
button.audio-button {
  position: relative;
  height: 32px;
  width: 32px;
  background-position: center center;
  background-size: 24px;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  border: solid 1px;
  border-radius: 3px;
  transition: all 0.2s;
  margin: 2px;

  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.5);

  &.play {
    background-color: #668866;
    border-color: darken(#668866, 30) darken(#668866, 40) darken(#668866, 40) darken(#668866, 30);
    background-image: url('../public/imgs/play.png');
  }

  &.pause {
    background-color: #888866;
    border-color: darken(#888866, 30) darken(#888866, 40) darken(#888866, 40) darken(#888866, 30);
    background-image: url('../public/imgs/pause.png');
  }

  &.stop {
    background-color: #886666;
    border-color: darken(#886666, 30) darken(#886666, 40) darken(#886666, 40) darken(#886666, 30);
    background-image: url('../public/imgs/stop.png');
  }

  &.muted {
    background-color: #AA4444;
    border-color: darken(#AA4444, 30) darken(#AA4444, 40) darken(#AA4444, 40) darken(#AA4444, 30);
    background-image: url('../public/imgs/speaker-off.svg');
  }

  &.not-muted {
    background-color: #44AA44;
    border-color: darken(#44AA44, 30) darken(#44AA44, 40) darken(#44AA44, 40) darken(#44AA44, 30);
    background-image: url('../public/imgs/speaker.svg');
  }

  &.looping {
    background-color: #AA4444;
    border-color: darken(#AA4444, 30) darken(#AA4444, 40) darken(#AA4444, 40) darken(#AA4444, 30);
    background-image: url('../public/imgs/looping.svg');

    &.active {
      background-color: #44AA44;
      border-color: darken(#44AA44, 30) darken(#44AA44, 40) darken(#44AA44, 40) darken(#44AA44, 30);
    }
  }

  &.forward {
    background-color: #666688;
    border-color: darken(#666688, 30) darken(#666688, 40) darken(#666688, 40) darken(#666688, 30);
    background-image: url('../public/imgs/forward.png');
  }

  &.rewind {
    background-color: #666688;
    border-color: darken(#666688, 30) darken(#666688, 40) darken(#666688, 40) darken(#666688, 30);
    background-image: url('../public/imgs/rewind.png');
  }

  &.multiplay {
    background-color: #AA4444;
    border-color: darken(#AA4444, 30) darken(#AA4444, 40) darken(#AA4444, 40) darken(#AA4444, 30);
    background-image: url('../public/imgs/multiplay.svg');

    &.active {
      background-color: #44AA44;
      border-color: darken(#44AA44, 30) darken(#44AA44, 40) darken(#44AA44, 40) darken(#44AA44, 30);
    }
  }

  &.counter {
    background-color: #666688;
    border-color: darken(#666688, 30) darken(#666688, 40) darken(#666688, 40) darken(#666688, 30);
    color: white;
    font-weight: bold;
    font-size: 20px;
  }

  &.deactive {
    opacity: 0.25;
  }

  &.text-large {
    font-size: 24px;
    color: black;
    font-weight: bold;
  }

  &:hover {
    border-color: rbga(255, 255, 255, 0.5), rbga(255, 255, 255, 0.4), rbga(255, 255, 255, 0.4), rbga(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    // box-shadow: 1px 1px 4px 2px rgba(64, 64, 64, 0.5);
  }

}

button.cancel-button {
  position: relative;
  height: 32px;
  width: 32px;
  background-position: center center;
  background-size: 24px;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  margin: 2px;
  border: none;
  background-color: transparent;
  background-image: url('../public/imgs/cancel.svg');
}
