
@import "slider";
@import "knob";
@import "duration";

div.channel {



  position: relative;
  z-index: 20;

  flex: 0 0 auto;
  width: 128px;
  height: 720px;
  background: linear-gradient($channelBgColor 0, darken($channelBgColor, 10) 100%);
  border: solid 2px;
  border-color: darken($channelBgColor, 10) darken($channelBgColor, 20) darken($channelBgColor, 20) darken($channelBgColor, 10);

  display: flex;
  flex-direction: column;
  align-items: center;

  &.loading {
    justify-content: center;
    img.loading-gears {
        width: 112px;
        height: 112px;
    }
  }

  &.open-file {
    justify-content: center;

    & > h1 {
      font-size: 14px;
      color: lighten($channelBgColor, 40);
      margin-top: 24px;

      &:first-of-type {
        margin-top: 0px;
      }
    }

    .file-selector {
      width: 0.1px;
    	height: 0.1px;
    	opacity: 0;
    	overflow: hidden;
    	position: absolute;
    	z-index: -1;
    }

    .file-selector + label {
      width: 112px;
      height: 112px;
      background-image: url('../public/imgs/open-folder.svg');
      background-repeat: no-repeat;
      cursor: pointer;
    }

    img.open-folder {
        width: 112px;
        height: 112px;
    }
  }



  div.header {
    width: 100%;


    h1 {
      height: 20px;
      width: 100%;
      margin: 0;
      padding: 0;
      padding-left: 4px;
      text-align: left;
      font-size: 12px;
      line-height: 18px;
      color: darken($channelBgColor, 40);

    }

    h2 {
      height: 22px;
      width: 100%;
      margin: 0;
      padding: 0;
      padding-left: 4px;
      text-align: left;
      font-size: 9px;
      line-height: 20px;
      background: repeating-linear-gradient(darken($channelBgColor, 40), darken($channelBgColor, 20) 3px);
      color: lighten($channelBgColor, 30);
      border-bottom: solid 1px darken($channelBgColor, 10);
      border-top: solid 1px darken($channelBgColor, 10);
    }
  }

  div.main-content {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > div.volume-slider-container {
      width: 94%;
      height: 364px;
      display: flex;
      flex-direction: row;

      div.buttons {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

      }
    }

  }

  div.footer-buttons {
    height: 96px;
    width: 100%;
    flex: 0 0 auto;

    border-top: solid 1px darken($channelBgColor, 20);

    text-align: center;


    button.cancel-button {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

}
