
@import url('https://fonts.googleapis.com/css?family=Exo+2');

$mainColor: black;
$effectColor: DarkRed;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: BurlyWood;
  color: $mainColor;
  font-family: "Exo 2"
}

h1 {
  color: $effectColor;
}



@import "mixer";
@import "buttons";
